In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
df_bikes = pd.read_csv('seoul_bike_data - SeoulBikeData.csv', sep=',')
df_bikes

,DateTime,Day,Weekday,Hour,Rented Bike Count,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm)
0,2017-01-12 00:00:00,12,5,0,254,"-5,2",37,"2,2",2000,"-17,6",0,0,0
1,2017-01-12 01:00:00,12,5,1,204,"-5,5",38,"0,8",2000,"-17,6",0,0,0
2,2017-01-12 02:00:00,12,5,2,173,-6,39,1,2000,"-17,7",0,0,0
3,2017-01-12 03:00:00,12,5,3,107,"-6,2",40,"0,9",2000,"-17,6",0,0,0
4,2017-01-12 04:00:00,12,5,4,78,-6,36,"2,3",2000,"-18,6",0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-12-31 19:00:00,31,2,19,163,0,31,"2,2",2000,"-15,1",0,0,0
8756,2018-12-31 20:00:00,31,2,20,161,-1,32,"0,9",2000,"-15,6",0,0,0
8757,2018-12-31 21:00:00,31,2,21,179,"-1,6",35,1,2000,"-15,1",0,0,0
8758,2018-12-31 22:00:00,31,2,22,155,"-2,1",36,"1,7",2000,"-15,2",0,0,0
8759,2018-12-31 23:00:00,31,2,23,227,"-2,6",40,"0,6",2000,"-14,3",0,0,0

## Divisão entre treino e teste

In [ ]:
X = df_bikes[['Weekday', 'Hour', 'Temperature(°C)', 'Humidity(%)', 'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(°C)', 'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)']]
y = df_bikes['Rented Bike Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

## Escolha do modelo
Como o objetivo é prever a quantidade de bicicletas alugadas, ou seja, uma variável contínua, se trata de um problema de Regressão.

In [ ]:
# Criar e treinar o modelo SVR
model = SVR(kernel='linear')  # Você pode experimentar com diferentes kernels (linear, poly, rbf, etc.)
model.fit(X_train, y_train)

# Fazer previsões
y_pred = model.predict(X_test)

# Avaliar o desempenho do modelo
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

# Visualizar as previsões
plt.scatter(y_test, y_pred)
plt.xlabel("Quantidade Real de Bicicletas Alugadas")
plt.ylabel("Quantidade Prevista de Bicicletas Alugadas")
plt.title("Comparação entre Quantidade Real e Quantidade Prevista (SVR)")
plt.show()